# Binaries and executables
bin/
out/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Testing and Profiling
*.out
*.prof

# Dependencies
# vendor/ (Uncomment if you don't want to commit dependencies)

# IDEs
.idea/
.vscode/
*.swp

# Secrets
.env

.DS_Store
